.principal{
    background-color: #F3F5FC;
}

p{
    font-family:sans-serif;
}

.container{
   padding-top: 4rem;
   padding-left: 8rem;
   padding-right: 8rem;
   padding-bottom: 4rem;
   display: flex;
   flex-direction: row;
}

.input-text::placeholder { color: #0A3871; }

.input-text{
    border: none;
    padding: 0px 100px 100px 0px;
    outline: none;
    margin-bottom: 300px;
    font-size: 32px;
    background: none;
    resize: none;
}

.box-text-buttons{
    width: 60%;
    height: 100%;
    padding: 168px 0px 168px 168px;
}

.box-advertencia{
    display: flex;
    flex-direction: row;
    margin: 25px 0px 25px 0px;
}

.box-text-advertencia{
    margin-left: 8px;
}

.buttons{
    display: flex;
    flex-direction: row;
}

.button-encriptar{
    /* width: 200px; */
    padding: 24px 120px;
    margin-right: 24px;
    font-size: 16px;
    color:white;
    background: #0A3871;
    border:none;
    border-radius: 24px;
}

.button-desencriptar{
    /* width: 200px; */
    padding: 24px 120px;
    font-size: 16px;
    color: #0A3871;
    background: #D8DFE8;
    border:1px solid #0A3871;
    border-radius: 24px;
}

.box-traductor{
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 32px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 24px;
}

.dibujo{
    padding: 243px 32px 32px 32px;
}

.box-mensaje{
    padding: 0px 32px 32px 32px;
}

.mensaje{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.box-text-2{
    padding: 0px 32px 32px 32px;
}

.input-text-2::placeholder { color: #0A3871; }

.input-text-2{
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    background: none;
    resize: none;
}