.principal{
    background-color: #F3F5FC;
    width: 100%;
}

p{
    font-family:sans-serif;
}

.container{
   padding: 4rem 4rem 4rem 6.5rem;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.input-text::placeholder { color: #0A3871; }

.input-text{
    border: none;
    width: 100%;
    font-family:sans-serif;
    outline: none;
    margin-bottom: 18rem;
    font-size: 32px;
    background: none;
    resize: none;
}

.box-text-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8rem 5rem 1rem 8rem;
}

.box-advertencia{
    display: flex;
    flex-direction: row;
    
    margin: 2rem 0rem 2rem 0rem;
}

.box-text-advertencia{
    margin-left: 0.8rem;
}

.buttons{
    display: flex;
    flex-direction: row;
}

.button-encriptar{
    padding: 2.5vh 7vw;
    margin-right: 1vw;
    font-size: 16px;
    color:white;
    background: #0A3871;
    border:none;
    border-radius: 24px;
}

.button-desencriptar{
    padding: 2.5vh 7vw;
    font-size: 16px;
    color: #0A3871;
    background: #D8DFE8;
    border:1px solid #0A3871;
    border-radius: 24px;
}

.box-traductor{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: #FFFFFF;
    border-radius: 32px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 24px;
}

.dibujo{
    padding: 13rem 2rem 2rem 2rem;
}

.box-mensaje{
    padding: 0px 2rem 2rem 2rem;
}

.mensaje{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.box-text-2{
    padding: 0px 2rem 12rem 2rem;
}

.input-text-2::placeholder { color: #0A3871; }

.input-text-2{
    width: 100%;
    font-family: sans-serif;
    text-align: center;
    border: none;
    outline: none;
    background: none;
    resize: none;
}

@media screen and (max-width: 1180px) {
    .container{
        padding-top: 4rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
    }

    .buttons{
        justify-content: space-between;
    }

    .button-encriptar{
        width: 40vw;
        margin-bottom: 1rem;
    }
    
    .button-desencriptar{
        width: 40vw;
        background: none;
    }

    .box-text-buttons{
        padding: 5rem 0rem 1rem 0rem;
    }

    .box-text-2{
        padding: 0rem 2rem 0rem 2rem;
    }

    .dibujo{
        display:none !important;
    }

}

@media screen and (max-width: 470px) {
    .container{
        display: flex;
        flex-direction: column;
     }

    .button-encriptar{
        width: 100%;    
    }
    
    .button-desencriptar{
        width: 100%;  
        background: none;
    }

    .buttons{
        display: flex;
        flex-direction: column;
     }

    .box-text-2{
        padding: 0rem 2rem 0rem 2rem;
    }

    .dibujo{
        display:none !important;
    }
}